/jemd
/jimm-*/
/jimm-*.tar.xz
/*.snap
/access.log
/parts/
/prime/
/snap/
/stage/
/vendor
/version/commit.txt
/version/version.txt
/tmp

*.crt
*.key
*.csr
/jimmsrv
qa-lxd

/cloudinit.temp.yaml

local/traefik/certs/ca.srl

db_schemas

*.test
__debug_bin*
dist/
controllers.yaml
.vscode/settings.json

# Sphinx
docs/.sphinx/venv/
docs/.sphinx/warnings.txt
docs/.sphinx/.wordlist.dic
docs/.sphinx/.doctrees/
docs/.sphinx/update/
docs/.sphinx/node_modules/
