/jemd
/jimm-*/
/jimm-*.tar.xz
/*.snap
/access.log
/parts/
/prime/
/snap/
/stage/
/vendor
/version/commit.txt
/version/version.txt
/tmp
/local/vault/approle.json
local/vault/approle.json
local/vault/roleid.txt

*.crt
*.key
*.csr
/jimmctl
/jimmsrv
qa-controller

/cloudinit.temp.yaml
