/jemd
/jimm-*/
/jimm-*.tar.xz
/*.snap
/access.log
/parts/
/prime/
/snap/.snapcraft/
/stage/
/vendor
/version/commit.txt
/version/version.txt
/tmp
/local/vault/approle.yaml
local/vault/approle.yaml
local/vault/roleid.txt
