version: "3.9"

services:
  traefik:
    image: "traefik:2.9"
    container_name: traefik
    profiles: ["dev"]
    ports:
      - "80:80"
      - "443:443"
      - "8089:8080"
    volumes:
      - ./local/traefik/traefik.yaml:/etc/traefik/traefik.yaml
      - ./local/traefik/certs:/certs/
      - /var/run/docker.sock:/var/run/docker.sock
    healthcheck:
      test: 
        - CMD
        - traefik
        - healthcheck
      interval: 10s
      timeout: 5s
      retries: 3
    
  jimm:
    image: cosmtrek/air:latest
    profiles: ["dev"]
    # extra_hosts:
    # - "host.docker.internal:host-gateway"
    # working_dir value has to be the same of mapped volume
    hostname: jimm.localhost
    working_dir: /jimm
    container_name: jimmy
    entrypoint:
      - bash
      - -c
      - >-
        go install github.com/go-delve/delve/cmd/dlv@latest
        && air
    ports:
      - 17070:80
      - 2345:2345
    environment:
      JIMM_LOG_LEVEL: "debug"
      JIMM_UUID: "3217dbc9-8ea9-4381-9e97-01eab0b3f6bb"
      JIMM_DSN: "postgresql://jimm:jimm@db/jimm"
      CANDID_URL: "http://0.0.0.0:8081" # For external client redirects (in the case of compose and running outside)
      # Hardcoded pre-generated key, see ./local/candid/config.yaml
      CANDID_PUBLIC_KEY: "CIdWcEUN+0OZnKW9KwruRQnQDY/qqzVdD30CijwiWCk="
      # Not needed for local test (yet).
      # BAKERY_AGENT_FILE: ""
      JIMM_ADMINS: "jimm@candid.localhost"
      # Note: You can comment out the Vault ENV vars below and instead use INSECURE_SECRET_STORAGE to place secrets in Postgres.
      VAULT_ADDR: "http://vault:8200"
      VAULT_PATH: "/jimm-kv/"
      VAULT_SECRET_FILE: "/vault/approle.json"
      VAULT_AUTH_PATH: "/auth/approle/login"
      INSECURE_JWKS_LOOKUP: "enabled"
      # Note: By default we should use Vault as that is the primary means of secret storage.
      # INSECURE_SECRET_STORAGE: "enabled"
      # JIMM_DASHBOARD_LOCATION: ""
      JIMM_DNS_NAME: "jimm.localhost"
      JIMM_WATCH_CONTROLLERS: ""
      JIMM_LISTEN_ADDR: "0.0.0.0:80"
      JIMM_TEST_PGXDSN: "postgresql://jimm:jimm@db/jimm"
      JIMM_JWT_EXPIRY: 30s
      JIMM_ENABLE_JWKS_ROTATOR: "1"
      JIMM_AUDIT_LOG_RETENTION_PERIOD_IN_DAYS: "1"
      TEST_LOGGING_CONFIG: ""
      PUBLIC_KEY: "izcYsQy3TePp6bLjqOo3IRPFvkQd2IKtyODGqC6SdFk="
      PRIVATE_KEY: "ly/dzsI9Nt/4JxUILQeAX79qZ4mygDiuYGqc2ZEiDEc="
      OPENFGA_SCHEME: "http"
      OPENFGA_HOST: "openfga"
      OPENFGA_PORT: 8080
      OPENFGA_STORE: "01GP1254CHWJC1MNGVB0WDG1T0"
      OPENFGA_AUTH_MODEL: "01GP1EC038KHGB6JJ2XXXXCXKB"
      OPENFGA_TOKEN: "jimm"
    volumes:
      - ./:/jimm/
      - ./local/vault/approle.json:/vault/approle.json:rw
      - ./local/vault/roleid.txt:/vault/roleid.txt:rw
    healthcheck:
      test: [ "CMD", "curl", "http://jimm.localhost:80" ]
      interval: 5s
      timeout: 5s
      retries: 50 # Should fail after approximately (interval*retry) seconds
    depends_on:
      db:
        condition: service_healthy
      openfga:
        condition: service_healthy
      traefik:
        condition: service_healthy
      insert-hardcoded-auth-model:
        condition: service_completed_successfully
      keycloak:
        condition: service_healthy
    labels:
      traefik.enable: true
      traefik.http.routers.jimm.rule: Host(`jimm.localhost`)
      traefik.http.routers.jimm.entrypoints: websecure
      traefik.http.routers.jimm.tls: true

  db:
    image: postgres
    container_name: postgres
    restart: always
    ports:
      - 5432:5432
    volumes:
      - ./local/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_DB: jimm
      POSTGRES_USER: jimm
      POSTGRES_PASSWORD: jimm
    # Since it's mainly used for testing purposes, it's okay to set fsync=off for
    # improved performance.
    command: -c fsync=off -c full_page_writes=off
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U jimm" ]
      interval: 5s
      timeout: 5s
      retries: 5

  vault:
    image: hashicorp/vault:latest
    container_name: vault
    ports:
      - 8200:8200
    environment:
      # For CLI
      VAULT_ADDR: "http://localhost:8200"
      # Dev Flag
      VAULT_DEV_LISTEN_ADDRESS: "0.0.0.0:8200"
      # Dev Flag
      VAULT_DEV_ROOT_TOKEN_ID: "token"
    cap_add:
      - IPC_LOCK
    volumes:
      - ./local/vault/vault.hcl:/vault/config/vault.hcl
      - ./local/vault/init.sh:/vault/init.sh
      - ./local/vault/policy.hcl:/vault/policy.hcl
      - ./local/vault/approle.json:/vault/approle.json
      - ./local/vault/roleid.txt:/vault/roleid.txt:rw
    command: /vault/init.sh
    depends_on:
      db:
        condition: service_healthy

  candid:
    image: candid:latest
    container_name: candid
    entrypoint: "/candid.sh"
    profiles: ["dev"]
    expose:
      - 8081
    ports:
      - 8081:8081
    volumes:
      - ./local/candid/config.yaml:/etc/candid/config.yaml
      - ./local/candid/entry.sh:/candid.sh
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "http://localhost:8081/debug/status" ]
      interval: 5s
      timeout: 5s
      retries: 5

  migrateopenfga:
    image: openfga/openfga:v1.2.0
    container_name: migrateopenfga
    command: migrate --datastore-engine postgres --datastore-uri 'postgresql://jimm:jimm@db/jimm?sslmode=disable'
    depends_on:
      db:
        condition: service_healthy

  insert-hardcoded-store:
    image: governmentpaas/psql
    container_name: insert-hardcoded-store
    command: psql -Atx postgresql://jimm:jimm@db/jimm?sslmode=disable -c "INSERT INTO store (id,name,created_at,updated_at) VALUES ('01GP1254CHWJC1MNGVB0WDG1T0','jimm',NOW(),NOW());"
    depends_on:
      migrateopenfga:
        condition: service_completed_successfully

  openfga:
    # We use our 'image' to mimic juju standard.
    # image: openfga/openfga:latest
    build:
      context: .
      dockerfile: ./local/openfga/Dockerfile
    container_name: openfga
    environment:
      OPENFGA_AUTHN_METHOD: "preshared"
      OPENFGA_AUTHN_PRESHARED_KEYS: "jimm"
      OPENFGA_DATASTORE_ENGINE: "postgres"
      OPENFGA_DATASTORE_URI: "postgresql://jimm:jimm@db/jimm?sslmode=disable"
    command: run
    ports:
      - 8080:8080
      - 3000:3000
    depends_on:
      migrateopenfga:
        condition: service_completed_successfully
      insert-hardcoded-store:
        condition: service_completed_successfully
    healthcheck:
      test: [ "CMD", "curl", "http://0.0.0.0:8080/healthz" ]
      interval: 5s
      timeout: 5s
      retries: 10

  # Adds the auth model and updates its authorisation model id to be the expected hard-coded id such that our local JIMM can utilise it for queries.
  # The auth model json is retrieved from file via volume mount.
  insert-hardcoded-auth-model:
    image: governmentpaas/psql
    container_name: insert-hardcoded-auth-model
    volumes:
      - ./local/openfga/authorisation_model.json:/authorisation_model.json
    command: >
      sh -c "wget -q -O - --header 'Content-Type: application/json' --header 'Authorization: Bearer jimm' --post-file authorisation_model.json openfga:8080/stores/01GP1254CHWJC1MNGVB0WDG1T0/authorization-models && \
      psql -Atx postgresql://jimm:jimm@db/jimm?sslmode=disable -c \"UPDATE authorization_model SET authorization_model_id = '01GP1EC038KHGB6JJ2XXXXCXKB' WHERE store = '01GP1254CHWJC1MNGVB0WDG1T0';\""
    depends_on:
      openfga:
        condition: service_healthy

  keycloak:
    image: docker.io/bitnami/keycloak:23
    environment:
      KEYCLOAK_ENABLE_HEALTH_ENDPOINTS: true
      KEYCLOAK_CREATE_ADMIN_USER: true
      KEYCLOAK_ADMIN_USER: jimm
      KEYCLOAK_ADMIN_PASSWORD: jimm
      KEYCLOAK_DATABASE_VENDOR: dev-mem
      KEYCLOAK_EXTRA_ARGS: "-Dkeycloak.migration.action=import -Dkeycloak.migration.provider=singleFile -Dkeycloak.migration.file=/bitnami/keycloak/data/import/realm.json -Dkeycloak.migration.replace-placeholders=true -Dkeycloak.profile.feature.upload_scripts=enabled"
    volumes:
      - ./local/keycloak/jimm-realm.json:/bitnami/keycloak/data/import/realm.json:ro
    ports:
      - "8080:8080"
    healthcheck:
      test: [ "CMD", "curl", "http://0.0.0.0:8080/health/started" ]
      interval: 5s
      timeout: 5s
      retries: 10
