[Unit]
Description=JAAS Intelligent Model Manager
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile={{conf_file}}
EnvironmentFile={{db_file}}
EnvironmentFile=-{{leader_file}}
EnvironmentFile=-{{vault_file}}
EnvironmentFile=-{{openfga_file}}
EnvironmentFile=-{{oauth_file}}
ExecStart=/snap/bin/jimm
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
